<div class="container-fluid px-0">
    <div class="row">
        <div id="greenline"></div>

        <div class="col-2">
            <img class="mt-5" src="images/book1.png" />
        </div>

        <div class="col-8">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img src="images/head1.png" />
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-md-auto">
                    <img src="images/head2.png" />

                    <div class="contacts_caption">
                        <p class="h4 text-right">
                            info@infomir.ru
                            <br><br>+79255109475
                            <br><br>+79255109475
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <img class="mt-5 float-right" src="images/book2.png"/>
        </div>
    </div>

    <br>

    <div class="row">
        <div id="greyline"></div>
    </div>

    <div class="row pt-2">
        <div class="col-7 d-flex">
            <img class="horizontal-tags align-self-center" src="images/1_1.png" />

            <div class="caption">
                <h2>
                    Компания ИнфоМир занимается народным образованием в области Информатики и ИКТ
                </h2>
            </div>
        </div>

        <div class="col-5 d-flex pl-5">
            <img class="align-self-center pl-2" src="images/1_2.png" />
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col" align="center">
            <img src="images/2_1.png" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6" align="center">
            <h1>
                Наш опыт бесценен
            </h1>

            <h3>
                Только в России (и СССР) было изданы десятки наших учебников, пособий и энциклопедий тиражом более 10 млн. экземпляром
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col" align="center">
            <img src="images/2_2.png" alt="" />
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <div class="row align-items-end">
                <div class="col">
                    <h1 class="display-1 text-right">
                        <strong>
                            Мы
                        </strong>
                    </h1>
                </div>

                <div class="col-mx-auto">
                    <img src="images/3_1.png" class="float-right" />
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-6 d-flex">
            <img src="images/3_2.png" class="float-right horizontal-tags align-self-center" />
        </div>

        <div class="col-3 align-self-center">
            <h3>
                занимаемся обучением Программированию детей и взрослых, проводим таргетированные авторские курсы
            </h3>

            <hr class="style3">
        </div>

        <div class="col-xl-3"></div>
    </div>

    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-4 align-self-center">
            <h3>
                осуществляем поддержку и сопровождение СПО КуМир и ПиктоМир, разрабатываем программное обеспечение для обучения на базе КуМир и ПиктоМир
            </h3>

            <hr class="style3">

            <div class="row d-flex justify-content-center pt-3">
                <button onclick="dropdownAction('dropdown-1')" class="dropbtn"></button>
            </div>
        </div>

        <div class="col-5">
            <img src="images/3_3.png" class="float-left horizontal-tags align-self-center" />
        </div>
    </div>

    <div class="row dropdown-content pt-5 " id="dropdown-1">
        <div class="col-xl-3"></div>

        <div class="col-3 px-3">
            <h5>
                КуМир (Комплект Учебных МИРов)
            </h5>

            <p>
                — система программирования, предназначенная для поддержки начальных
                курсов информатики и программирования в средней и высшей школе.
            </p>

            <h5>
                Особенности системы КуМир
            </h5>

            <p>
                В системе КуМир используется школьный алгоритмический язык с русской лексикой и встроенными исполнителями Робот и Чертёжник.
                При вводе программы КуМир постоянно осуществляет полный контроль ее правильности, сообщая на полях программы обо всех обнаруженных ошибках.
                При выполнении программы в пошаговом режиме КуМир выводит на поля результаты операций присваивания и значения логических выражений. Это позволяет ускорить процесс освоения азов программирования.
                Кумир работает в операционных системах Windows или Linux.
                Система Кумир разработана в ФГУ ФНЦ НИИСИ РАН по заказу Российской Академии Наук и распространяется свободно на условиях лицензии GNU 2.0*.
                *Данная лицензия разрешает вам или вашей организации  бессрочно использовать КуМир на любом количестве компьютеров в любых целях без оформления каких-либо дополнительных документов.
            </p>
        </div>

        <div class="col-3 px-3">
            <h5>
                ПиктоМир
            </h5>

            <p>
                — младший брат КуМира, свободно распространяемая программная система для изучения азов программирования дошкольниками и младшими школьниками.
                ПиктоМир позволяет ребенку "собрать" из пиктограмм на экране компьютера несложную программу, управляющую виртуальным исполнителем-роботом. ПиктоМир в первую очередь ориентирован на дошкольников, еще не умеющих писать или на младшеклассников, не очень любящих писать. При желании, ПиктоМир-программу можно сохранить в КуМире и продолжить работу над ней в КуМире.
            </p>
        </div>

        <div class="col-xl-3"></div>
    </div>

    <div class="row">
        <div class="col-5 d-flex">
            <img src="images/3_4.png" class="float-right horizontal-tags align-self-center" />
        </div>

        <div class="col-4 d-flex flex-column">
            <h3>
                разрабатываем и производим роботов для уроков Информатики
            </h3>

            <hr class="style3">

            <div class="d-flex justify-content-center pt-3">
                <button onclick="dropdownAction('dropdown-2')" class="dropbtn"></button>
            </div>

            <div class="dropdown-content pt-3" id="dropdown-2">
                <p>
                    на нашем сайте вы можете приобрести комплекты для обучения основам алгоритмики в дошкольных учереждениях и дома, а так же фирменные мягкие игрушки
                </p>
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>

    <hr>

    <div class="row pt-5">
        <div class="col-xl-3"></div>

        <div class="col-6 px-3">
            <h3>
                Комплект для проведения занятий по "Алгоритмике"
            </h3>

            <p>
                Предназначен для организации образовательных и игровых занятий с дошкольниками, для проведения бескомпьютерной части
                занятий курса “Алгоритмики”. Позволяет сформировать представление о роботах, исполнителях, способствует развитию мелкой и крупной моторики,
                знакомит детей с основными командами Робота.
                Данный комплект включает в себя мобильный робототехнический набор, состоящий из движимых и неподвижных моделей, мягкие игрушки-роботы,
                магниты с командами, коврики-пазлы, методические указания для преподавателя, фартуки-картинки Роботы (для ролевых игр Робот-Командир).
            </p>

            <p>
                <strong>Целевые образовательные области</strong>: познавательно-исследовательское развитие, коммуникативное развитие, речевое развитие,
                физическое развитие, интеллектуальное развитие, алгоритмическое мышление
            </p>

            <p>
                <strong>Виды деятельности</strong>: игровая, познавательная, двигательная, трудовая, коммуникативная, исследовательская, образовательная.
            </p>

            <p>
                <strong>Мешок Пиктомир</strong> составляется из Робототехнического набора 1, 2 или 3 и Образовательного набора.
            </p>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <!--Store-->

    <!--First item-->
    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-6">
            <div class="container">
                <div class="dashed-border"></div>

                <div class="row">
                    <div class="col-7 d-flex flex-column">
                        <h5>
                            {{ products.[0].title}}
                        </h5>

                        <ol>
                            <li>Коврики (10 кр, 10 зел,10 желт+цифры) — 40 шт.</li>

                            <li>Магниты — 120 шт.</li>

                            <li>Методичка, мягкий переплет, 200 стр — 1 шт.</li>

                            <li>Дипломы — 20 шт.</li>

                            <li>Памятка для детей — 20 шт.</li>

                            <li>Игрушки — 2 шт.</li>

                            <li>Фартуки — 4 шт.</li>
                        </ol>

                        <div class="d-flex flex-row">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control no-spin" placeholder="1" min="1" max="10" id="merch-1">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="merch-1" class="col-form-label">
                                            шт.
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <a href="/add-to-cart/{{ products.[0]._id }}" role="button" class="btn btn-success mr-1">В корзину</a>

                            <a href="#" role="button" class="btn btn-success pt-2">
                                <i class="material-icons">shopping_cart</i>

                                <i class="material-icons">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>

                    <div class="col-5">
                        <img class="img-fluid rounded" src="images/robot_1600.png" alt="Образовательный набор">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <!--Second item-->
    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-6">
            <div class="container">

                <div class="d-flex flex-row-reverse">
                    <div class="dashed-border"></div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <img class="img-fluid rounded" src="images/untitled42_1200.png" alt="Робототехнический набор №1">
                    </div>

                    <div class="col-7 d-flex flex-column">
                        <h5>
                            {{ products.[1].title }}
                        </h5>

                        <h4>
                            {{ products.[1].description }}
                        </h4>

                        <p>
                            (набор LEGO Mindstorms EV3 31313 в комплект не входит) <br>
                            (минимальный набор)
                        </p>

                        <ol>
                            <li>Дополнительные детали лего — 1 набор</li>

                            <li>WI-FI router (TP-Link) — 1 шт.</li>

                            <li>WI-FI адаптер (TP-Link TP-WN 725N) — 1 шт.</li>

                            <li>Micro SDHC 8 gb — 1 шт.</li>

                            <li>Аккумулятор+зарядное устройство — 1+1 шт.</li>
                        </ol>

                        <p>
                            Ориентировочная цена — {{ products.[1].price }} руб.
                        </p>

                        <div class="d-flex flex-row">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control no-spin" placeholder="1" min="1" max="10" id="merch-2">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="merch-2" class="col-form-label">
                                            шт.
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <a href="/add-to-cart/{{ products.[1]._id }}" role="button" class="btn btn-success mr-1">В корзину</button>

                            <a href="#" role="button" class="btn btn-success pt-2">
                                <i class="material-icons">shopping_cart</i>

                                <i class="material-icons">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <!--Third item-->
    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-6">
            <div class="container">
                <div class="dashed-border"></div>

                <div class="row">
                    <div class="col-7 d-flex flex-column">
                        <h5>
                            {{ products.[2].title }}
                        </h5>

                        <h4>
                            {{ products.[2].description }}
                        </h4>

                        <p>
                            (набор LEGO Mindstorms EV3 в комплект не входит) <br>
                            (минимальный набор)
                        </p>

                        <ol>
                            <li>Дополнительные детали лего — 1 набор</li>

                            <li>TP-Link "router" — 1 шт.</li>

                            <li>TP-Link TP-WN 725N — 1 шт.</li>

                            <li>Micro SDHC 8 gb — 1 шт.</li>

                            <li>Аккумулятор+зарядное устройство — 1+1 шт.</li>
                        </ol>

                        <p>
                            Ориентировочная цена — {{ products.[2].price }} руб.
                        </p>

                        <div class="d-flex flex-row">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control no-spin" placeholder="1" min="1" max="10" id="merch-3">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="merch-3" class="col-form-label">
                                            шт.
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <a href="/add-to-cart/{{ products.[2]._id }}" role="button" class="btn btn-success mr-1">В корзину</button>

                            <a href="#" role="button" class="btn btn-success pt-2">
                                <i class="material-icons">shopping_cart</i>

                                <i class="material-icons">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>

                    <div class="col-5">
                        <img class="img-fluid rounded" src="images/untitled41_1200.png" alt="Робототехнический набор №3">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <!--Forth item-->
    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-6">
            <div class="container">

                <div class="d-flex flex-row-reverse">
                    <div class="dashed-border"></div>
                </div>

                <div class="row">
                    <div class="col-5 pr-2">
                        <img class="img-fluid rounded" src="images/robot_1600.png" alt="Робототехнический набор №3">
                    </div>

                    <div class="col-7 d-flex flex-column pl-2">
                        <h5>
                            {{ products.[3].title }}
                        </h5>

                        <h4>
                            {{ products.[3].description }}
                        </h4>

                        <p>
                            Радиоуправляемый робот "ПиктоМир" предназначен для проведения
                            образовательных занятий по алгоритмике для дошкольников и
                            младших школьников. Установленный bluetooth-модуль позволяет наглядно
                            моделировать перемещение виртуального робота на смартфоне в
                            программе ПиктоМир.
                            Инфракрасный модуль позволяет управлять движениями робота с
                            инфракрасного пульта учителя.
                        </p>

                        <form action="/add-to-cart/{{ products.[3]._id }}" method="post">
                            <div class="row d-flex flex-row">
                                <input type="number" class="form-control no-spin" placeholder="1" min="1" max="10" id="merch-4" name="productQty">

                                <label for="merch-4" class="col-form-label">шт.</label>

                                <button type="submit" class="btn btn-success mr-1">В корзину</button>

                                <a href="#" role="button" class="btn btn-success pt-2">
                                    <i class="material-icons">shopping_cart</i>

                                    <i class="material-icons">arrow_drop_down</i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="dashed-border-full"></div>
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <!--Shopping cart-->
    <div class="row">
        <div class="col-xl-3"></div>

        <div class="col-6">
            <h2 class="pl-5">
                <i class="material-icons">shopping_cart</i>
                В корзине
            </h2>

            <ol class="list-group pt-3">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between w-75">
                    <p class="pl-5">
                        Образовательный набор
                    </p>

                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" class="form-control no-spin" placeholder="1" min="1" max="10">
                            </div>

                            <div class="col-sm-6">
                                <label class="col-form-label">
                                    шт.
                                </label>
                            </div>
                        </div>
                    </form>

                    <p class="pr-5">
                        15000p
                    </p>
                </li>
            </ol>
        </div>

        <div class="col-xl-3"></div>
    </div>



    <hr>

    <div class="row align-items-end">
        <div class="col-3">
            <img src="images/4_1.png" class="float-right" />
        </div>

        <div class="col-6">
            <img src="images/4_2.png" class="mx-auto d-block" />
        </div>

        <div class="col-3"></div>
    </div>

</div>

<footer id="footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
