<div class="container-fluid px-0">
    <div id="greenline"></div>

    {{> header }}

    <div class="container-fluid position-relative mt-5 px-0">

        {{> main }}

        <div id="dropdown-3" class="row dropdown-content-store">
            <div class="row responsive-main-paragraph pt-3">
                <div class="col-2"></div>

                <div class="col-8 px-5">
                    <p class="h3 cart-header pb-3">
                        Комплект для проведения занятий по "Алгоритмике"
                    </p>

                    <p>
                        Предназначен для организации образовательных и игровых занятий с дошкольниками, для проведения бескомпьютерной части
                        занятий курса “Алгоритмики”. Позволяет сформировать представление о роботах, исполнителях, способствует развитию мелкой и крупной моторики,
                        знакомит детей с основными командами Робота.
                        Данный комплект включает в себя мобильный робототехнический набор, состоящий из движимых и неподвижных моделей, мягкие игрушки-роботы,
                        магниты с командами, коврики-пазлы, методические указания для преподавателя, фартуки-картинки Роботы (для ролевых игр Робот-Командир).
                    </p>

                    <p>
                        <strong>Целевые образовательные области</strong>: познавательно-исследовательское развитие, коммуникативное развитие, речевое развитие,
                        физическое развитие, интеллектуальное развитие, алгоритмическое мышление
                    </p>

                    <p>
                        <strong>Виды деятельности</strong>: игровая, познавательная, двигательная, трудовая, коммуникативная, исследовательская, образовательная.
                    </p>

                    <p>
                        <strong>Мешок Пиктомир</strong> составляется из Робототехнического набора 1, 2 или 3 и Образовательного набора.
                    </p>
                </div>

                <div class="col-2"></div>
            </div>

            {{> store }}

            <!--Dashed border-->
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8">
                    <div id="target" class="d-flex justify-content-center">
                        <div class="dashed-border-full"></div>
                    </div>
                </div>

                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>

                <div class="col-8 cart-body">
                    {{# if productsArray }}
                        <h2 class="cart-header pl-5">
                            <i class="material-icons">shopping_cart</i>
                            В корзине
                        </h2>

                        <ol class="list-group pt-3" id="shopping-cart">
                            {{# each productsArray }}
                                <li class="list-group-item d-flex flex-row" id="cart-item{{ this.item._id }}">
                                    <div class="col-6 d-flex align-items-center cart-item-title">
                                        <p class="mb-0 pl-5">
                                            {{ this.item.title }}
                                        </p>
                                    </div>

                                    <div class="col-3">
                                        <form>
                                            <div class="row">
                                                <div class="col-5">
                                                    <input type="number" class="form-control checkbox-style no-spin cart-item-qty" value="{{ this.qty }}" min="1" max="10">
                                                </div>

                                                <div class="col-7">
                                                    <label class="col-form-label">
                                                        шт.
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-3 d-flex justify-content-end align-items-center cart-item-price">
                                        <p class="mb-0 pr-5">
                                            {{ this.price }}p
                                        </p>

                                        <a class="cart-item-remove" onclick="removeItem('{{ this.item._id }}')">
                                            <img class="responsive-icons" src="images/delete.svg" alt="Удалить товар.">
                                        </a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>

                        <div class="d-flex justify-content-between" id="cart-total-price">
                            <p class="h3 cart-header pt-3 pl-5 cart-total-price-inner">
                                Итого: {{ session.cart.totalPrice }}p
                            </p>

                            <button type="button" class="modalBtn" data-toggle="modal" data-target="#formModal">к оформлению</button>

                            {{> modal }}
                        </div>
                    {{ else }}
                        <h2 class="cart-header pl-5">
                            <i class="material-icons">shopping_cart</i>
                            В корзине
                        </h2>

                        <p class="cart-header cart-header-temporary">
                            На данный момент у Вас нет покупок.
                        </p>

                        <ol class="list-group pt-3" id="shopping-cart"></ol>

                        <div class="d-flex justify-content-between hidden-cart-total" id="cart-total-price">
                            <p class="h3 cart-header pt-3 pl-5 cart-total-price-inner">
                                Итого: {{ session.cart.totalPrice }}p
                            </p>

                            <button type="button" class="modalBtn" data-toggle="modal" data-target="#formModal">к оформлению</button>

                            {{> modal }}
                        </div>
                    {{/ if }}
                </div>

                <div class="col-2"></div>
            </div>

            <hr>
        </div>


        <!--Footer-->
        <div class="row">
            <div class="col-3 d-flex justify-content-end align-items-end">
                <img src="images/4_1.png" class="img-fluid footer-1">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-end">
                <a href="https://ecceconference.com/" style="position: absolute; width:100%; height:100%"></a>

                <img src="images/4_2_2.svg" class="img-fluid footer-2">
            </div>

            <div class="col-3"></div>
        </div>
    </div>
</div>

<li class="list-group-item d-flex flex-row" id="hidden-cart-item">
    <div class="col-6 d-flex align-items-center cart-item-title"></div>

    <div class="col-3">
        <form>
            <div class="row">
                <div class="col-5">
                    <input type="number" class="form-control checkbox-style no-spin cart-item-qty" value="" min="1" max="10">
                </div>

                <div class="col-7">
                    <label class="col-form-label">
                        шт.
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="col-3 d-flex justify-content-end align-items-center cart-item-price">
        <a class="cart-item-remove" onclick="removeItem(this.id)">
            <img class="responsive-icons" src="images/delete.svg" alt="Удалить товар.">
        </a>
    </div>
</li>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    function removeItem(itemId) {
        $.ajax({
            type: 'POST',
            url: '/remove/' + itemId,
        }).done(function(productsArray) {
            $('#cart-item' + itemId).remove();

            $('#cart-total-price .cart-total-price-inner').remove();

            if (productsArray.totalPrice) {
                $(`<p class="h3 cart-header pt-3 pl-5 cart-total-price-inner">Итого: ${productsArray.totalPrice}p</p>`).prependTo('#cart-total-price');
            } else {
                $('#cart-total-price').addClass('hidden-cart-total');
                $('<p class="cart-header cart-header-temporary">На данный момент у Вас нет покупок</p>').appendTo('.cart-body');
            }
        });
    }
</script>









