<div class="container-fluid px-0">
    <div id="greenline"></div>

    {{> header }}

    <div class="container-fluid position-relative mt-5 px-0">

        {{> main }}

        <div id="dropdown-3" class="row dropdown-content-store">
            <div class="row responsive-main-paragraph pt-3">
                <div class="col-2"></div>

                <div class="col-8 px-5">
                    <p class="h3 cart-header pb-3">
                        Комплект для проведения занятий по "Алгоритмике"
                    </p>

                    <p>
                        Предназначен для организации образовательных и игровых занятий с дошкольниками, для проведения бескомпьютерной части
                        занятий курса “Алгоритмики”. Позволяет сформировать представление о роботах, исполнителях, способствует развитию мелкой и крупной моторики,
                        знакомит детей с основными командами Робота.
                        Данный комплект включает в себя мобильный робототехнический набор, состоящий из движимых и неподвижных моделей, мягкие игрушки-роботы,
                        магниты с командами, коврики-пазлы, методические указания для преподавателя, фартуки-картинки Роботы (для ролевых игр Робот-Командир).
                    </p>

                    <p>
                        <strong>Целевые образовательные области</strong>: познавательно-исследовательское развитие, коммуникативное развитие, речевое развитие,
                        физическое развитие, интеллектуальное развитие, алгоритмическое мышление
                    </p>

                    <p>
                        <strong>Виды деятельности</strong>: игровая, познавательная, двигательная, трудовая, коммуникативная, исследовательская, образовательная.
                    </p>

                    <p>
                        <strong>Мешок Пиктомир</strong> составляется из Робототехнического набора 1, 2 или 3 и Образовательного набора.
                    </p>
                </div>

                <div class="col-2"></div>
            </div>

            {{> store }}

            <!--Dashed border-->
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8">
                    <div id="target" class="d-flex justify-content-center">
                        <div class="dashed-border-full"></div>
                    </div>
                </div>

                <div class="col-2"></div>
            </div>

            <!--Shopping cart-->
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8 cart-body">
                    <h2 class="cart-header pl-5">
                        <i class="material-icons">shopping_cart</i>
                        В корзине
                    </h2>

                    {{# if productsArray }}
                        <ol class="list-group pt-3">
                            {{# each productsArray }}
                                <li class="list-group-item d-flex flex-row">
                                    <div class="col-6 d-flex align-items-center">
                                        <p class="mb-0 pl-5">
                                            {{ this.item.title }}
                                        </p>
                                    </div>

                                    <div class="col-3">
                                        <form>
                                            <div class="row">
                                                <div class="col-5">
                                                    <input type="number" class="form-control checkbox-style no-spin" placeholder="{{ this.qty }}" min="1" max="10">
                                                </div>

                                                <div class="col-7">
                                                    <label class="col-form-label">
                                                        шт.
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-3 d-flex justify-content-end align-items-center">
                                        <p class="mb-0 pr-5">
                                            {{ this.price }}p
                                        </p>

                                        <a href="/remove/{{ this.item._id }}">
                                            <img class="responsive-icons" src="images/delete.svg" alt="Удалить товар.">
                                        </a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>

                        <div class="d-flex justify-content-between">
                            <p class="h3 cart-header pt-3 pl-5">
                                Итого: {{ session.cart.totalPrice }}p
                            </p>

                            <button type="button" class="modalBtn" data-toggle="modal" data-target="#formModal">к оформлению</button>

                            {{> modal }}
                        </div>
                    {{ else }}
                        <p class="cart-header">
                            На данный момент у Вас нет покупок.
                        </p>
                    {{/ if }}
                </div>

                <div class="col-2"></div>
            </div>

            <hr>
        </div>


        <!--Footer-->
        <div class="row">
            <div class="col-3 d-flex justify-content-end align-items-end">
                <img src="images/4_1.png" class="img-fluid footer-1">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-end">
                <img src="images/4_2.png" class="img-fluid footer-2">
            </div>

            <div class="col-3"></div>
        </div>
    </div>
</div>

<footer id="footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>