<div class="container-fluid px-0">
    <div id="greenline"></div>

    <div class="row">
        <div class="col-2 toggle">
            <img class="img-fluid mt-5" src="images/book1.png" />
        </div>

        <div class="col-8 toggle-show">
            <div class="row justify-content-center">
                <img class="img-fluid" src="images/head1.png" />
            </div>

            <div class="row position-relative justify-content-center">
                <img class="img-fluid" src="images/head2.png" />

                <div class="contacts_caption">
                    <p class="h4">
                        info@infomir.ru
                        <br><br>+79255109475
                        <br><br>+79255109475
                        <br><br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-2 toggle">
            <img class="img-fluid mt-5 float-right" src="images/book2.png"/>
        </div>
    </div>

    <div class="container-fluid position-relative mt-5 px-0">
        <div id="greyline"></div>

        <div class="row pt-5">
            <div class="col-7 d-flex flex-column justify-content-center align-items-center">
                <img class="horizontal-tags" src="images/1_1.png" />

                <div class="caption">
                    <p class="responsive-paragraph text-center">
                        Компания ИнфоМир занимается народным образованием в области Информатики и ИКТ
                    </p>
                </div>
            </div>

            <div class="col-5">
                <img class="responsive-image" src="images/1_2.png" />
            </div>
        </div>

        <hr>

        <div class="row d-flex justify-content-center">
            <img src="images/2_1.png" />
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-6 text-center">
                <h1 class="responsive-header-1">
                    Наш опыт бесценен
                </h1>

                <h3 class="responsive-header-2">
                    Только в России (и СССР) было изданы десятки наших учебников, пособий и энциклопедий тиражом более 10 млн. экземпляром
                </h3>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <img src="images/2_2.png" alt="" />
        </div>

        <hr>

        <div class="row d-flex flex-row pb-5">
            <div class="header-container-1">
                <p class="responsive-header-main">
                    Мы
                </p>
            </div>

            <div class="header-container-2">
                <img class="responsive-image-main" src="images/3_1.png">
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="images/3_2.svg" class="horizontal-tags">

                <img src="images/image_8.png" class="responsive-circle-images">
            </div>

            <div class="col-3 d-flex flex-column justify-content-center pl-5">
                <p class="h3 responsive-caption">
                    занимаемся обучением Программированию детей
                    и взрослых, проводим таргетированные
                    авторские курсы
                </p>

                <hr class="style3">
            </div>

            <div class="col-3"></div>
        </div>

        <div class="row pb-5">
            <div class="col-3"></div>

            <div class="col-3 d-flex flex-column justify-content-end pr-5">
                <p class="h3 responsive-caption">
                    осуществляем поддержку и сопровождение СПО КуМир
                    и ПиктоМир, разрабатываем программное
                    обеспечение для обучения на базе КуМир и ПиктоМир
                </p>

                <hr class="style3">

                <div class="row d-flex justify-content-center pt-3">
                    <button onclick="dropdownAction('dropdown-1')" class="dropbtn"></button>
                </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="images/3_3.svg" class="horizontal-tags">

                <img src="images/image_9.png" class="responsive-circle-images">
            </div>
        </div>

        <div class="row dropdown-content responsive-main-paragraph pt-5 " id="dropdown-1">
            <div class="col-2"></div>

            <div class="col-4 px-3">
                <p class="h5">
                    КуМир (Комплект Учебных МИРов)
                </p>

                <p>
                    — система программирования, предназначенная для поддержки начальных
                    курсов информатики и программирования в средней и высшей школе.
                </p>

                <p class="h5">
                    Особенности системы КуМир
                </p>

                <p>
                    В системе КуМир используется школьный алгоритмический язык с русской лексикой и встроенными исполнителями Робот и Чертёжник.
                    При вводе программы КуМир постоянно осуществляет полный контроль ее правильности, сообщая на полях программы обо всех обнаруженных ошибках.
                    При выполнении программы в пошаговом режиме КуМир выводит на поля результаты операций присваивания и значения логических выражений. Это позволяет ускорить процесс освоения азов программирования.
                    Кумир работает в операционных системах Windows или Linux.
                    Система Кумир разработана в ФГУ ФНЦ НИИСИ РАН по заказу Российской Академии Наук и распространяется свободно на условиях лицензии GNU 2.0*.
                    *Данная лицензия разрешает вам или вашей организации  бессрочно использовать КуМир на любом количестве компьютеров в любых целях без оформления каких-либо дополнительных документов.
                </p>
            </div>

            <div class="col-4 px-3">
                <p class="h5">
                    ПиктоМир
                </p>

                <p>
                    — младший брат КуМира, свободно распространяемая программная система для изучения азов программирования дошкольниками и младшими школьниками.
                    ПиктоМир позволяет ребенку "собрать" из пиктограмм на экране компьютера несложную программу, управляющую виртуальным исполнителем-роботом. ПиктоМир в первую очередь ориентирован на дошкольников, еще не умеющих писать или на младшеклассников, не очень любящих писать. При желании, ПиктоМир-программу можно сохранить в КуМире и продолжить работу над ней в КуМире.
                </p>
            </div>

            <div class="col-2"></div>
        </div>

        <div class="row py-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="images/3_4.svg" class="horizontal-tags">

                <img src="images/image_10.png" class="responsive-circle-images">
            </div>

            <div class="col-3 d-flex flex-column justify-content-center pl-5">
                <p class="h3 responsive-caption">
                    разрабатываем и производим роботов для уроков Информатики
                </p>

                <hr class="style3">

                <div class="d-flex justify-content-center pt-3">
                    <button onclick="dropdownAction('dropdown-2')" class="dropbtn"></button>
                </div>
            </div>

            <div class="col-3"></div>
        </div>

        <div class="row dropdown-content responsive-main-paragraph" id="dropdown-2">
            <div class="col-6"></div>

            <div class="col-3 pl-5">
                <p>
                    на нашем сайте вы можете приобрести комплекты для обучения
                    основам алгоритмики в дошкольных учереждениях и дома, а так же
                    фирменные мягкие игрушки
                </p>
            </div>

            <div class="col-3"></div>
        </div>
                <!--<div class="dropdown-content pt-3" id="dropdown-2">-->
                <!--</div>-->
        <hr>

        <div class="row responsive-main-paragraph pt-5">
            <div class="col-2"></div>

            <div class="col-8 px-5">
                <p class="h3">
                    Комплект для проведения занятий по "Алгоритмике"
                </p>

                <p>
                    Предназначен для организации образовательных и игровых занятий с дошкольниками, для проведения бескомпьютерной части
                    занятий курса “Алгоритмики”. Позволяет сформировать представление о роботах, исполнителях, способствует развитию мелкой и крупной моторики,
                    знакомит детей с основными командами Робота.
                    Данный комплект включает в себя мобильный робототехнический набор, состоящий из движимых и неподвижных моделей, мягкие игрушки-роботы,
                    магниты с командами, коврики-пазлы, методические указания для преподавателя, фартуки-картинки Роботы (для ролевых игр Робот-Командир).
                </p>

                <p>
                    <strong>Целевые образовательные области</strong>: познавательно-исследовательское развитие, коммуникативное развитие, речевое развитие,
                    физическое развитие, интеллектуальное развитие, алгоритмическое мышление
                </p>

                <p>
                    <strong>Виды деятельности</strong>: игровая, познавательная, двигательная, трудовая, коммуникативная, исследовательская, образовательная.
                </p>

                <p>
                    <strong>Мешок Пиктомир</strong> составляется из Робототехнического набора 1, 2 или 3 и Образовательного набора.
                </p>
            </div>

            <div class="col-2"></div>
        </div>


        <!--Store-->

        <!--First item-->
        <div id="shop" class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div class="container">
                    <div class="dashed-border"></div>

                    <div class="row product-body">
                        <div class="col-7 d-flex flex-column">
                            <p class="h5 product-title">
                                {{ products.[0].title}}
                            </p>

                            <ol>
                                <li>Коврики (10 кр, 10 зел,10 желт+цифры) — 40 шт.</li>

                                <li>Магниты — 120 шт.</li>

                                <li>Методичка, мягкий переплет, 200 стр — 1 шт.</li>

                                <li>Дипломы — 20 шт.</li>

                                <li>Памятка для детей — 20 шт.</li>

                                <li>Игрушки — 2 шт.</li>

                                <li>Фартуки — 4 шт.</li>
                            </ol>

                            <form action="/add-to-cart/{{ products.[0]._id }}" method="post">
                                <div class="row d-flex flex-row">
                                    <input type="number" class="form-control no-spin checkbox-style" value="1" min="1" max="10" id="merch-4" name="productQty">

                                    <label for="merch-4" class="col-form-label">шт.</label>

                                    <button type="submit" class="button-1 mr-1"></button>

                                    <a href="#target" role="button" class="button-2 pt-2"></a>
                                </div>
                            </form>
                        </div>

                        <div class="col-5">
                            <img class="img-fluid rounded" src="images/nabor_1600.png" alt="Образовательный набор">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>


        <!--Second item-->
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div class="container">

                    <div class="d-flex flex-row-reverse">
                        <div class="dashed-border"></div>
                    </div>

                    <div class="row product-body">
                        <div class="col-5">
                            <img class="img-fluid rounded" src="images/untitled42_1200.png" alt="Робототехнический набор №1">
                        </div>

                        <div class="col-7 d-flex flex-column">
                            <p class="h5 product-title">
                                {{ products.[1].title }}
                            </p>

                            <p class="h4 product-description">
                                {{ products.[1].description }}
                            </p>

                            <p>
                                (набор LEGO Mindstorms EV3 31313 в комплект не входит) <br>
                                (минимальный набор)
                            </p>

                            <ol>
                                <li>Дополнительные детали лего — 1 набор</li>

                                <li>WI-FI router (TP-Link) — 1 шт.</li>

                                <li>WI-FI адаптер (TP-Link TP-WN 725N) — 1 шт.</li>

                                <li>Micro SDHC 8 gb — 1 шт.</li>

                                <li>Аккумулятор+зарядное устройство — 1+1 шт.</li>
                            </ol>

                            <p>
                                Ориентировочная цена — {{ products.[1].price }} руб.
                            </p>

                            <form action="/add-to-cart/{{ products.[1]._id }}" method="post">
                                <div class="row d-flex flex-row">
                                    <input type="number" class="form-control no-spin checkbox-style" value="1" min="1" max="10" id="merch-4" name="productQty">

                                    <label for="merch-4" class="col-form-label">шт.</label>

                                    <button type="submit" class="button-1 mr-1"></button>

                                    <a href="#target" role="button" class="button-2 pt-2"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>


        <!--Third item-->
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div class="container">
                    <div class="dashed-border"></div>

                    <div class="row product-body">
                        <div class="col-7 d-flex flex-column">
                            <p class="h5 product-title">
                                {{ products.[2].title }}
                            </p>

                            <p class="h4 product-description">
                                {{ products.[2].description }}
                            </p>

                            <p>
                                (набор LEGO Mindstorms EV3 в комплект не входит) <br>
                                (минимальный набор)
                            </p>

                            <ol>
                                <li>Дополнительные детали лего — 1 набор</li>

                                <li>TP-Link "router" — 1 шт.</li>

                                <li>TP-Link TP-WN 725N — 1 шт.</li>

                                <li>Micro SDHC 8 gb — 1 шт.</li>

                                <li>Аккумулятор+зарядное устройство — 1+1 шт.</li>
                            </ol>

                            <p>
                                Ориентировочная цена — {{ products.[2].price }} руб.
                            </p>

                            <form action="/add-to-cart/{{ products.[2]._id }}" method="post">
                                <div class="row d-flex flex-row">
                                    <input type="number" class="form-control no-spin checkbox-style" value="1" min="1" max="10" id="merch-4" name="productQty">

                                    <label for="merch-4" class="col-form-label">шт.</label>

                                    <button type="submit" class="button-1 mr-1"></button>

                                    <a href="#target" role="button" class="button-2 pt-2"></a>
                                </div>
                            </form>
                        </div>

                        <div class="col-5">
                            <img class="img-fluid rounded" src="images/untitled41_1200.png" alt="Робототехнический набор №3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>


        <!--Forth item-->
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div class="container">

                    <div class="d-flex flex-row-reverse">
                        <div class="dashed-border"></div>
                    </div>

                    <div class="row product-body">
                        <div class="col-5 pr-2">
                            <img class="img-fluid rounded" src="images/robot_1600.png" alt="Робототехнический набор №3">
                        </div>

                        <div class="col-7 d-flex flex-column pl-2">
                            <p class="h5 product-title">
                                {{ products.[3].title }}
                            </p>

                            <p class="h4 product-description">
                                {{ products.[3].description }}
                            </p>

                            <p>
                                Радиоуправляемый робот "ПиктоМир" предназначен для проведения
                                образовательных занятий по алгоритмике для дошкольников и
                                младших школьников. Установленный bluetooth-модуль позволяет наглядно
                                моделировать перемещение виртуального робота на смартфоне в
                                программе ПиктоМир.
                                Инфракрасный модуль позволяет управлять движениями робота с
                                инфракрасного пульта учителя.
                            </p>

                            <form action="/add-to-cart/{{ products.[3]._id }}" method="post">
                                <div class="row d-flex flex-row">
                                    <input type="number" class="form-control no-spin checkbox-style" value="1" min="1" max="10" id="merch-4" name="productQty">

                                    <label for="merch-4" class="col-form-label">шт.</label>

                                    <button type="submit" class="button-1 mr-1"></button>

                                    <a href="#target" role="button" class="button-2 pt-2"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="target" class="d-flex justify-content-center">
                    <div class="dashed-border-full"></div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>


        <!--Fifth item-->
        <div class="row pt-4">
            <div class="col-2"></div>

            <div class="col-4 d-flex justify-content-center align-items-center pr-5">
                <img src="images/vertun_440.png" class="img-fluid rounded-circle vertun-style">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="images/toys_arrow.svg" class="horizontal-tags">

                <div class="vertun-caption">
                    <div class="row">
                        <p class="h4 vertun-header">Заведи домашнего робота!</p>

                        <p class="h4 vertun-header">
                            Подарите своему ребенку
                            мягкого друга Вертуна
                        </p>

                        <p>
                            Мягкая игрушка “Вертун” изготовлена  в России
                            из экологически чистых материалов. <br>
                            <img src="images/mark3.svg" alt="Вертун" class="img-fluid vertun-age">
                            Сертификаты прилагаются.
                        </p>

                        <p class="vertun-price-1">999руб.</p>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <p class="h4 vertun-price-2">799руб.</p>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <p>до 31 декабря</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-2"></div>

            <div class="col-4"></div>

            <div class="col-6 pl-5">
                <form action="/add-to-cart/{{ products.[4]._id }}" class="product-body pl-3" method="post">
                    <div class="row d-flex flex-row">
                        <input type="number" class="form-control no-spin checkbox-style" value="1" min="1" max="10" id="merch-5" name="productQty">

                        <label for="merch-5" class="col-form-label">шт.</label>

                        <button type="submit" class="button-1 mr-1"></button>

                        <a href="#target" role="button" class="button-2 pt-2"></a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div id="target" class="d-flex justify-content-center">
                    <div class="dashed-border-full"></div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>

        <!--Shopping cart-->
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6 cart-body">
                <h2 class="cart-header pl-5">
                    <i class="material-icons">shopping_cart</i>
                    В корзине
                </h2>

                {{# if productsArray }}
                    <ol class="list-group pt-3">
                        {{# each productsArray }}
                            <li class="list-group-item d-flex flex-row">
                                <div class="col-6">
                                    <p class="pl-5">
                                        {{ this.item.title }}
                                    </p>
                                </div>

                                <div class="col-2">
                                    <form>
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="number" class="form-control no-spin" placeholder="{{ this.qty }}" min="1" max="10">
                                            </div>

                                            <div class="col-2">
                                                <label class="col-form-label">
                                                    шт.
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-4 d-flex justify-content-end">
                                    <p class="pr-5">
                                        {{ this.price }}p
                                    </p>
                                </div>
                            </li>
                        {{/each}}
                    </ol>

                    <p class="h3 cart-header pt-3 pl-5">
                        Итого: {{ session.cart.totalPrice }}p
                    </p>
                {{ else }}
                    <p class="cart-header">
                        Корзина пуста.
                    </p>
                {{/ if }}
            </div>

            <div class="col-3"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3 d-flex justify-content-end align-items-end">
                <img src="images/4_1.png" class="img-fluid footer-1">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-end">
                <img src="images/4_2.png" class="img-fluid footer-2">
            </div>

            <div class="col-3"></div>
        </div>
    </div>
</div>

<footer id="footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
